.cards {
  padding: 10px;
  margin: 0 10px;
  height: 400px;
  text-align: center;
  align-content: center;
  flex: 0 0 300px;
}

.judul {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 1em;  
}

.sjudul {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 1em;  
}

.kisah {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin: 1em;
  margin-top:2em ;
  background-color: #92b6f0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.644);
  padding: 10px;
  border-radius: 15px;
  color: white;
}


.cards img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.group {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  animation: slide 30s linear infinite;
}

.carosuel {
  height: 400px;
  display: flex;
  overflow: hidden;
  margin-top: 3em;
}

.carosuel::-webkit-scrollbar {
  display: none;
}

@keyframes slide {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}


.foto {
  margin: 10px;
  width: 150px;
  height: 150px;
  justify-content: center;
  text-align: center;
}

.kfoto {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.foto img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.galeri {
  margin-top: 3em;
}